# Auto detect text files and perform LF normalization
* text=auto
4ohu9rgramn11.jpg filter=lfs diff=lfs merge=lfs -text
64og7lsbqsk01.jpg filter=lfs diff=lfs merge=lfs -text
obf5xao0sfm11.jpg filter=lfs diff=lfs merge=lfs -text
26vybn8o9pn11.jpg filter=lfs diff=lfs merge=lfs -text
04153_kochelsee_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
04156_coloursofmiddleearth_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
25522615597_efe71dcdf5_b.jpg filter=lfs diff=lfs merge=lfs -text
r1q7gpgcd1n11.jpg filter=lfs diff=lfs merge=lfs -text
zgdyp30787n11.jpg filter=lfs diff=lfs merge=lfs -text
04114_intotheforest_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
04149_mountainlake_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
2j69rfhbsnn11.jpg filter=lfs diff=lfs merge=lfs -text
rif-1520452091352.jpg filter=lfs diff=lfs merge=lfs -text
XXBzyHJ.jpg filter=lfs diff=lfs merge=lfs -text
04123_chatter_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
04111_sunsetonglencoelochan_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
ov69m8graok01.jpg filter=lfs diff=lfs merge=lfs -text
04085_glowingsummit_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
66aw8cnpxnk01.jpg filter=lfs diff=lfs merge=lfs -text
88QJIQP.jpg filter=lfs diff=lfs merge=lfs -text
cNivcSC.jpg filter=lfs diff=lfs merge=lfs -text
27052599268_4e15d7febf_o.jpg filter=lfs diff=lfs merge=lfs -text
11f6v193cfn11.jpg filter=lfs diff=lfs merge=lfs -text
27052599268_4e15d7febf_o[[:space:]]healed.jpg filter=lfs diff=lfs merge=lfs -text
28860453752_703653225c_b.jpg filter=lfs diff=lfs merge=lfs -text
04082_vermillionlakestars_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
6c3avh3nrck01.jpg filter=lfs diff=lfs merge=lfs -text
duubxwhlfin01.jpg filter=lfs diff=lfs merge=lfs -text
s8je3ile96h01.jpg filter=lfs diff=lfs merge=lfs -text
04129_zuiderheide_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
04090_bacuitbaysunset_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
04130_totality_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
04132_yosemiteonfire_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
2rbaha87krn11.jpg filter=lfs diff=lfs merge=lfs -text
4c06knoqzhn01.jpg filter=lfs diff=lfs merge=lfs -text
9s0wa359zg711.jpg filter=lfs diff=lfs merge=lfs -text
04073_scottishbeach_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
a072vybcssm11.jpg filter=lfs diff=lfs merge=lfs -text
f041mt3p12l01.jpg filter=lfs diff=lfs merge=lfs -text
33sfmcp68uh11.jpg filter=lfs diff=lfs merge=lfs -text
04139_thefreshairofsaentismountain_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
04145_coloradoablaze_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
hcper9wiqan01.jpg filter=lfs diff=lfs merge=lfs -text
04127_alcazarbathsinsevilla_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
5pbm3sghllm11.jpg filter=lfs diff=lfs merge=lfs -text
fblu4420vgn01.jpg filter=lfs diff=lfs merge=lfs -text
n2onvm7s5qb01.jpg filter=lfs diff=lfs merge=lfs -text
04092_misty_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
04089_desertstorm_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
7cgivlu8tij01.jpg filter=lfs diff=lfs merge=lfs -text
cy4upz8bcrj01.jpg filter=lfs diff=lfs merge=lfs -text
fbu8bmk9sjn01.jpg filter=lfs diff=lfs merge=lfs -text
kxxL8Zc.jpg filter=lfs diff=lfs merge=lfs -text
lpt6vwolauh01.jpg filter=lfs diff=lfs merge=lfs -text
phit1hpw9in01.jpg filter=lfs diff=lfs merge=lfs -text
04077_monuments_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
tcjgen634an11.jpg filter=lfs diff=lfs merge=lfs -text
uvobk62wwkn11.jpg filter=lfs diff=lfs merge=lfs -text
skd6emll88g01.jpg filter=lfs diff=lfs merge=lfs -text
04141_teagrove_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
fct7asn57of01.jpg filter=lfs diff=lfs merge=lfs -text
lp3jgjqy76j01.jpg filter=lfs diff=lfs merge=lfs -text
04066_dorsetdurdledoor_5120x2880.jpg filter=lfs diff=lfs merge=lfs -text
TNB-K2-1-1000x563.jpg filter=lfs diff=lfs merge=lfs -text
8bsupxua38n01.jpg filter=lfs diff=lfs merge=lfs -text
K2[[:space:]]healed.jpg filter=lfs diff=lfs merge=lfs -text
p175d2g5n1n11.jpg filter=lfs diff=lfs merge=lfs -text
04135_impenetrable_1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
exlke0a0yjn01.png filter=lfs diff=lfs merge=lfs -text
5qmh3c3fben01.png filter=lfs diff=lfs merge=lfs -text
f68iyswo9so11.jpg filter=lfs diff=lfs merge=lfs -text
k2_healed.jpg filter=lfs diff=lfs merge=lfs -text
wnfs0q1xavo11.jpg filter=lfs diff=lfs merge=lfs -text
b62rivs3uyo11.jpg filter=lfs diff=lfs merge=lfs -text
o0tu4lwwpbq11.jpg filter=lfs diff=lfs merge=lfs -text
6zyetncvacq11.jpg filter=lfs diff=lfs merge=lfs -text
en2nqn96jov11.jpg filter=lfs diff=lfs merge=lfs -text
i745jluvnuv11.jpg filter=lfs diff=lfs merge=lfs -text
r4esyj69chu11.jpg filter=lfs diff=lfs merge=lfs -text
4nv210mxcwv11.jpg filter=lfs diff=lfs merge=lfs -text
iaf3jzclvkq11.jpg filter=lfs diff=lfs merge=lfs -text
k25rdwvsk5r11.jpg filter=lfs diff=lfs merge=lfs -text
m2o2mc8ykgu11.jpg filter=lfs diff=lfs merge=lfs -text
pgzkldv21or11.jpg filter=lfs diff=lfs merge=lfs -text
pl5jc0e252r11.jpg filter=lfs diff=lfs merge=lfs -text
e7ous3bc5yq11.jpg filter=lfs diff=lfs merge=lfs -text
uwlhxl20b4w11.jpg filter=lfs diff=lfs merge=lfs -text
ec4yaf1jqly11.jpg filter=lfs diff=lfs merge=lfs -text
iqz6akikfg021.jpg filter=lfs diff=lfs merge=lfs -text
pz6aawv95bw11.jpg filter=lfs diff=lfs merge=lfs -text
h4ia8jka3ww11.jpg filter=lfs diff=lfs merge=lfs -text
io5lvuy5t9z11.jpg filter=lfs diff=lfs merge=lfs -text
n1ez38R.jpg filter=lfs diff=lfs merge=lfs -text
terw8rq4bg121.jpg filter=lfs diff=lfs merge=lfs -text
0d3c6jon7mw11.jpg filter=lfs diff=lfs merge=lfs -text
aw9w0a1la9121.jpg filter=lfs diff=lfs merge=lfs -text
dkqat69ajvz11.jpg filter=lfs diff=lfs merge=lfs -text
4bkeqh3zeiw11.jpg filter=lfs diff=lfs merge=lfs -text
i4xb66v5eyy11.jpg filter=lfs diff=lfs merge=lfs -text
wmfs2cm78a121.jpg filter=lfs diff=lfs merge=lfs -text
le2fygaftew11.jpg filter=lfs diff=lfs merge=lfs -text
libnw6t7wsy11.jpg filter=lfs diff=lfs merge=lfs -text
p14vmaokcty11.jpg filter=lfs diff=lfs merge=lfs -text
x3hm5kyre2021.jpg filter=lfs diff=lfs merge=lfs -text
252qr9ynwg121.jpg filter=lfs diff=lfs merge=lfs -text
6vdpsld78cz11.jpg filter=lfs diff=lfs merge=lfs -text
co1a0x44oc021.jpg filter=lfs diff=lfs merge=lfs -text
